@model FragranceDto

@{
    ViewData["Title"] = "Edit Fragrance";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12 offset-lg-3 col-lg-8 col-xl-6">
            <h2 class="heading-margin my-colorText text-center">Edit Fragrance</h2>
            <form method="post">
                <div class="form-group text-center">
                    <img id="ProfilePicturePreview" class="border-info" style="max-width: 150px" src="@Model.ImageUrl" />
                </div>
                <div class="form-group my-colorText">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" placeholder="Type fragrance's name..." value="@Model.Name">
                    <span asp-validation-for="Name" class="small text-danger"></span>
                </div>
                <div class="form-group my-colorText">
                    <label asp-for="Year"></label>
                    <input asp-for="Year" class="form-control" value="@Model.Year">
                    <span asp-validation-for="Year" class="small text-danger"></span>
                </div>
                <div class="form-group my-colorText">
                    <label asp-for="Description"></label>
                    <textarea rows="4" asp-for="Description" class="form-control" placeholder="Add some description for the fragrance...">@Model.Description</textarea>
                    <span asp-validation-for="Description" class="small text-danger"></span>
                </div>
                <div class="form-group my-colorText">
                    <label asp-for="Type"></label>
                    <input asp-for="Type" class="form-control" value="@Model.Type">
                    <span asp-validation-for="Type" class="small text-danger"></span>
                </div>
                <div class="form-group my-colorText">
                    <label asp-for="ImageUrl"></label>
                    <input asp-for="ImageUrl" class="form-control" placeholder="Your URL here..." value="@Model.ImageUrl">
                    <span asp-validation-for="ImageUrl" class="small text-danger"></span>
                </div>
                <div class="form-group my-colorText">
                    <label asp-for="NoteIds">Choose notes:</label>
                    <select asp-for="NoteIds" id="SelectedNotes" multiple class="form-control">
                        @foreach (var note in Model.Notes)
                        {
                            <option value="@note.Id">@note.Name</option>
                        }
                    </select>
                    <span asp-validation-for="NoteIds" class="small text-danger"></span>
                </div>
                <div class="form-group my-colorText">
                    <label asp-for="Category.Id">Category</label>
                    <input asp-for="Category.Id" class="form-control" value="@Model.Category.Id" hidden>
                    <input class="form-control" value="@Model.Category.Name" disabled>
                </div>
                <input type="submit" class="btn btn-primary" value="Save" />
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var output = document.getElementById('ProfilePicturePreview');
            var imageUrlInput = $('#ImageUrl');

            imageUrlInput.on("input", function () {
                output.src = $(this).val();
            });
        });
    </script>
}
